[user]
	email = all.splashing@gmail.com
[core]
	excludesfile = /Users/kasumi/.gitignore_global
[alias]
	lg = log --graph --all --decorate
	co = checkout
	br = branch
	cp = cherry-pick
	sp = stash pop
	ss = stash save
	cm = commit -v
	st = status
	rh = reset HEAD^

